{% extends "base.html" %}

{% block content %}
  <div id="index-content" class="card">
    <div class="card-header">
      <h1 class="mb-0">Taxi Service Home</h1>
    </div>
    <div class="card-body">
      <p class="lead">Welcome to Best Taxi Ever!</p>

      <div class="mb-4">
        <h3 class="border-bottom pb-2">Service Statistics</h3>
        <ul class="list-unstyled">
          <li class="py-2"><strong>Cars:</strong> {{ num_cars }}</li>
          <li class="py-2"><strong>Drivers:</strong> {{ num_drivers }}</li>
          <li class="py-2"><strong>Manufacturers:</strong> {{ num_manufacturers }}</li>
        </ul>
      </div>

      <div class="bg-light p-3">
        <p class="mb-0">You have visited this page
          {{ num_visits }} time{{ num_visits|pluralize }}.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
